<h1> These are your favourite restaurants - Enjoy! </h1>


<% @all_favorites.each do |restaurant|%>
    <div>
    <a href="/index/<%= restaurant.place_id%>"><%= restaurant.name %></a>
    </div>
<%end%>
