<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Fungis</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>

  <h1> Fungis </h1>

  <form action="/index" method="post">
    <label for="search">Location</label>
    <input type="text" name="location">
    <button type="submit" name="search">Search</button>
</form>

  <div id="map"></div>

  
	<script src="index.js"></script>

    <script async
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBpGH4cWpYz5cAYIyN01D9b0bBbszawKRw&callback=initMap">
</script>


<script>

function initMap() {
    map = new google.maps.Map(document.getElementById('map'), {
      center: {lat: 51.5048069497465, lng: -0.12909098341433795},
      zoom: 8,
      mapId: 'ca5dec382f52fe24'
});
}

</script>

  </body>
  
</html>


