<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" type="image/png" href="public/mushroom.png">
    <title>Fungis</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans&family=Roboto+Condensed&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" href="public/mushroom.png">
  </head>
  <body>

  <div class="custom-shape-divider-top-1665609933">

  <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
  <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill"></path>
</svg>

  <section>

 <h1> Welcome To Fungis </h1> <br>

   
    <form  class="main-container" action="/results" method="post">
    <div class="container">
    <label for="search"></label>
    <input  class="input-container" type="text" name="location" placeholder="Locations">>
    <button type="submit" class="search-btn" name="search">Search</button>
    </div>
  </form>

  </section>

    </div>

  </body>
  
</html>


