<h1>Login page</h1>

<form method = "post" action = "/index">
  <input type= "text" name="email" placeholder="Email">
  <input type="password"  name="password" placeholder="Password">
  <input type="submit" value="Submit">
</form>