<h1>Login page</h1>

<form method = "post" action = "/index">
  <label for="Email">Email address &nbsp;</label><input type= "text" name="email" placeholder="Email">
  <label for="Password">Password &nbsp;</label><input type="password"  name="password" placeholder="Password">
  <input type="submit" value="Submit">
</form>