<h1>Search results</h1>
<table>
  <% @sorted_restaurants.each do |restaurant| %>
    <tr>
      <td><%=restaurant[0]%></td>
      <td><%=restaurant[1]%></td>
      <td><%=restaurant[2]%></td>
     <!-- <td><%=restaurant[3]%></td> -->
    </tr>
  <% end %>
</table>

<div id="map"></div>
