<html>

<body>

<h1> Sign up </h1>

<form method = "post" action = "/signup">  

<input type="text" name="name">
<input type= "text" name="email">
 <input type="text"  name="password">
 <input type="submit" value="Submit">
</form>

  </body>
</html>