
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Fungis</title>
    <link rel="stylesheet" href="/signup.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans&family=Roboto+Condensed&display=swap" rel="stylesheet">
  </head>

<body>

<div class="title">
<h1> Sign up </h1>
</div>

<div class="form-container">

<form method = "post" action = "/signup_success">  
  <label for="name"></label><input type="text" name="name" placeholder="Name" required> <br> <br>
  <label for="Email"></label><input type= "text" name="email" placeholder="Email" required> <br> <br>
  <label for="Password"></label><input type="password"  name="password" placeholder="Password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" oninvalid="this.setCustomValidity('Please include at least one upper and one lower case letter and one number')" maxlength="20" required>
  <br><br>
  <input class="btn" type="submit" value="Submit">
</form>

</div>

</body>
</html>