<html>

<body>

<h1> Sign up </h1>

<form method = "post" action = "/signup_success">  
  <label for="name">Name &nbsp; </label><input type="text" name="name" placeholder="Name" required>
  <label for="Email">Email address &nbsp;</label><input type= "text" name="email" placeholder="Email" required>
  <label for="Password">Password &nbsp;</label><input type="password"  name="password" placeholder="Password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" maxlength="20" required>
  <input type="submit" value="Submit">
</form>

</body>
</html>