<h1>Welcome to Fungis <%=@new_user.name%>!</h1>
<br>
<h2>Now Please Log In</h2>
<form method = "post" action = "/index">
  <input type= "text" name="email" placeholder="Email">
  <input type="password"  name="password" placeholder="Password">
  <input type="submit" value="Submit">
</form>