.body_not_navbar {
    /* margin-left: 400px; */
    text-align: center;
}

.header{
    padding-bottom: 5px;
    padding-top: 10px;
}

.place_info {
    margin-left: 550px;
    margin-right: 550px;
    /* text-align: center;  */
    padding: 20px;
    border: 3px grey;
}

.img {
    width: auto;
    height: 200px;
}

.btn {
    margin: 0 auto;
    padding: 10px;
    border: 1px solid #d3d3d3;
    background-color:  #9EF01A;
 }